body{
    background-color: black;
    color: white;
    
}


#verde {
    background-color: rgb(0, 0, 0);
    border-color: rgb(0, 255, 0);
    position: absolute;
    left: 520px;
    top: 150px;
}
#verde:hover {
    background-color: greenyellow;
    font-size: 30px;
    font-family: "Afacad Flux", sans-serif;
}

#Minar {
    background-color: rgb(0, 0, 0);
    border-color: white;
    position: absolute;
    top: 150px;
    
}
#Minar:hover {
    background-color: rgb(156, 156, 156);
    font-size: 30px;
}

#Mejoras {
    color: greenyellow;
    background-color: green;
}

#paiedera {
    height: 50px;
    width: 50px ;
}

#a {
    height: 50px;
    width: 50px ;
}

#hierro {
    height: 50px;
    width: 50px;

}

#hierroingot {
   background-color: black;
    border-radius: 0;
    border-color: white;
    position: absolute;
    right: 50px;
    top: 150;
}
#hierroingot:hover{
    background-color: white;
    font-size: 30px;
    font-family: "Lemon", serif;
}
#hierruno {
    position: absolute;
    right: 50px;
    top: 300px;
}
#Vendehierro {
    color: black;
    background-color: black;
    position: absolute;
    top: 230px;
    right: 50px;
    font-size: 10px;
    border-color: greenyellow;
}
#Vendehierro:hover {
    background-color: greenyellow;
    font-size: 30px;
    font-family: "Lemon", serif;
    
}
#imgdinero {
    width: 50px;
    height: 50px;
}

#mejoraherro {
    background-color: gray;
}

#h { 
    height: 80px;
    width:  80px;
}

#Coal {
    position: absolute;
    left: 50px;
    top: 300px;
    background-color: black;
}
#Coal:hover {
    color: white;
    font-family: "Afacad Flux", sans-serif;
    font-size: 30px;
}
#Coalimg {
    height: 50px;

}
#Coalcant {
    color: white;
    position: absolute;
    left: 50px;
    top: 350px;
}
#alle {
    position: absolute;
    color: black;
    background-color: rgb(0, 0, 0);
    border-color: yellowgreen;
    left: 300px;
    top: 200px ;
    font-family: "Chakra Petch", sans-serif;
    font-weight: 500;
    font-style: normal;
    border-style: double;
}
#aleanitaimg {
    height: 50px;
    width: 50px;
}
#alle:hover {
    background-color: yellow;
    font-size: 30px ;
}
#alloysell {
    background-color: rgb(0, 0, 0);
    position: absolute;
    left: 300px;
    top: 270px;
    border-color: goldenrod;

}
#alloysell:hover {
    font-family: "Chakra Petch", sans-serif;
    font-weight: 500;
    font-style: normal;
    border-style: double;
    background-color: rgb(179, 255, 0);
    font-size: 30px;
}
#Aloyconter {
    position: absolute;
    left: 290px;
    top: 320px;
}
#mejoraalean {
    background-color: rgba(255, 247, 0, 0.7) ;
}
#turt {
    position: absolute;
    top: 350px;
    right: 100px;
}